
<p>
  <strong>ホテル名:</strong>
  <%= @hotel.name %>
</p>

<p>
  	<img class="hotpic" width="300" src="/uploads/hotel/picture/1/1.png">
</p>

<p>
  <strong>詳細:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @hotel.prefecture.name %>
</p>

<p>
  <strong>部屋数:</strong>
  <%= @hotel.number_of_rooms %>
</p>

<a class="btn btn-success" href="/hotels/1/reservations/new">予約する</a> |
<a class="btn btn-success" href="/hotels">戻る</a>
